---
import JavaScriptIcon from "../icons/JavaScript.astro";
import CssIcon from "../icons/Css.astro";
import HtmlIcon from "../icons/Html5.astro";
import LinkIcon from "../icons/Link.astro";
import IconAstro from "../icons/IconAstro.astro";
import ButtonCode from "../components/ButtonCode.astro";
import IconNext from "../icons/Next.astro";
import IconReact from "../icons/React.astro";
import IconTailwind from "../icons/Tailwind.astro";

const TAGS = {
  JAVASCRIPT: {
    name: "JavaScript",
    icon: JavaScriptIcon,
  },
  CSS: {
    name: "CSS",
    icon: CssIcon,
  },
  HTML: {
    name: "HTML",
    icon: HtmlIcon,
  },
  ASTRO: {
    name: "Astro",
    icon: IconAstro,
  },
  NEXT: {
    name: "NextJs",
    icon: IconNext,
  },
  REACT: {
    name: "React JS",
    icon: IconReact,
  },
  TAILWIND: {
    name: "Tailwind",
    icon: IconTailwind,
  },
};

const PROJECTS_MAIN = [
  {
    title: "My Blog",
    description:
      "A blog in spanish where I talk about technology, curiosities, and news from the tech world, tips and issues, and the solutions I encounter on my journey to become a developer.",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300x200",
    tags: [TAGS.ASTRO, TAGS.JAVASCRIPT, TAGS.TAILWIND],
  },
  {
    title: "Event Calendar",
    description:
      "Event calendar for meetings or event room booking, only the Front-End part.",
    link: "https://event-calendar-sigma.vercel.app/",
    github: "https://github.com/nosoyeseoscar/event_calendar",
    image: "/projects/Event Calendar.webp",
    tags: [TAGS.NEXT, TAGS.REACT],
  },
];

const PROJECTS_SECOND = [
  {
    title: "Project 3",
    description:
      "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsum provident numquam omnis fuga saepe rem earum deserunt iure veniam assumenda similique quis alias quisquam tempora obcaecati, totam possimus repellat!",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300x200",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "Project 4",
    description:
      "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsum provident numquam omnis fuga saepe rem earum deserunt iure veniam assumenda similique quis alias quisquam tempora obcaecati, totam possimus repellat!",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300x200",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "Project 5",
    description:
      "Reiciendis ipsum provident numquam omnis fuga saepe rem earum deserunt iure veniam assumenda similique quis alias quisquam tempora obcaecati, totam possimus repellat!",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300x200",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "Project 6",
    description:
      "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis iure veniam assumenda similique !",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300x200",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
];
---

{
  PROJECTS_MAIN.map(({ image, title, description, tags, link, github }) => (
    <article class="flex sm:flex-row flex-col my-8 mx-1 gap-4 bg-[rgba(118,145,196,0.3)] dark:hover:bg-zinc-800 hover:bg-[rgba(118,145,196,0.5)] rounded-xl p-4 ">
      <div class="overflow-hidden rounded-xl">
        <img
          class=" object-cover transition duration-300 ease-in-out hover:scale-110 rounded-xl"
          src={image}
          alt={`Captura de pantalla del proyecto ${title}}`}
        />
      </div>
      <div class="">
        <div>
          <h3 class="text-3xl mb-2 font-semibold">{title}</h3>
          <a target="_blank" rel="noopener noreferrer" />
        </div>
        <p class="mb-2 text-pretty opacity-75 ">{description}</p>
        <ul class="flex flex-row gap-3 items-center">
          {tags.map((tag) => (
            <li>
              <tag.icon class="size-8" />
            </li>
          ))}
        </ul>
        <div class="flex flex-row gap-4 mt-6">
          <ButtonCode href={github} type="code" />
          <ButtonCode href={link} type="live" />
        </div>
      </div>
    </article>
  ))
}
<div class="grid md:grid-cols-2 grid-cols-1 my-14 mx-1 gap-4">
  {
    PROJECTS_SECOND.map(({ title, description, tags, link }) => (
      <div class="group bg-[rgba(118,145,196,0.05)] border-2 dark:border-black hover:border-2 hover:border-[rgba(118,145,196,0.5)] dark:hover:border-[rgba(118,145,196,0.5)]  rounded-xl p-4 hover:translate-y-1 transition-transform duration-300">
        <div class="flex flex-row justify-between">
          <h3 class="text-3xl mb-2 font-semibold">{title}</h3>
          <a
            href={link}
            target="_blank"
            rel="noopener noreferrer"
            class="invisible group-hover:visible scale-0 group-hover:scale-100 transition-transform
            text-sky-600 "
          >
            <LinkIcon class="size-8 " />
          </a>
        </div>
        <p class="mb-2 text-pretty opacity-75">{description}</p>
        <ul class="flex flex-row gap-3 items-center">
          {tags.map((tag) => (
            <li>
              <tag.icon class="size-6" />
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</div>
