---
const PROJECTS = [
  {
    title: "Project 1",
    description:
      "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsum provident numquam omnis fuga saepe rem earum deserunt iure veniam assumenda similique quis alias quisquam tempora obcaecati, totam possimus repellat!",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300x200",
    tags: ["HTML", "CSS", "JavaScript"],
    type: "main",
  },
  {
    title: "Project 2",
    description:
      "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsum provident numquam omnis fuga saepe rem earum deserunt iure veniam assumenda similique quis alias quisquam tempora obcaecati, totam possimus repellat!",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300x200",
    tags: ["HTML", "CSS", "JavaScript"],
    type: "main",
  },
  {
    title: "Project 3",
    description:
      "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsum provident numquam omnis fuga saepe rem earum deserunt iure veniam assumenda similique quis alias quisquam tempora obcaecati, totam possimus repellat!",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300x200",
    tags: ["HTML", "CSS", "JavaScript"],
    type: "Secondary",
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags, type }) => (
    <div>
      {type == "main" ? (
        <article class="flex flex-row my-8 mx-1 gap-4">
          <img src={image} alt={`Captura de pantalla del proyecto ${title}}`} />
          <div>
            <h3 class="text-xl mb-2">{title}</h3>
            <p class="mb-2">{description}</p>
            <ul class="flex flex-row gap-3 items-center">
              {tags.map((tag) => (
                <li>{tag}</li>
              ))}
            </ul>
          </div>
        </article>
      ) : (
        <article class="flex flex-row my-8 mx-1 gap-4">
          <div>
            <h3 class="text-xl mb-2">{title}</h3>
            <p class="mb-2">{description}</p>
            <ul class="flex flex-row gap-3 items-center">
              {tags.map((tag) => (
                <li>{tag}</li>
              ))}
            </ul>
          </div>
        </article>
      )}
    </div>
  ))
}
